<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}BURGER TIME!{{else}}IM FULL!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>